<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [ ]:
#Word Author

## Mikhael Putra Iswanto

# Science Tools and Ecosystem

**Objectif :**
- Python
- R
- Sql
- Scala
- Julia

In this notebook, Data Science Tools and Ecosystem are summarized

1. Python
2. R
3. Sql

- TensorFlow
- NumPy
- SciPy 
- Pandas

| Data Science Tools |
| -----------------|
| VS Code |
| GitLab |
| RStudio |
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This a simple arithmetic expression to mutiply then add integersb

In [ ]:
(3*4)+5

In [ ]:
#This will convert 200 minutes  to hours by diving by 60

In [ ]:
200/60

In [ ]:
200//60